body {
  margin: 0;
  padding: 0;
  background: url("../images/login_background.jpg");
  background-size: cover;
  font-family: sans-serif;
}

.title {
  text-align: center;
  padding: 10px 0 20px;
}

.title h2 {
  position: relative;
  font-size: 2em;
  letter-spacing: 15px;
  color: white;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 20px #2d9da9;
  }
  to {
    text-shadow: 0 0 30px #f0911c, 0 0 30px #f18500;
  }
}

.container {
  width: 50%;
  height: 400px;
  background: transparent;
  margin: 0 auto;
  border: 2px solid #04192a;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.5);
}

.container .left {
  float: left;
  width: 50%;
  height: 400px;
  background-size: cover;
  background: #04192a;
  box-sizing: border-box;
}

.btcImage {
  block-size: 70%;
  margin-left: 30px;
  margin-top: 60px;
  animation: rotation 3s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(359deg);
  }
}
.btcImage::content {
  transform: rotateY(360deg);
}

.container .right {
  float: right;
  width: 50%;
  height: 400px;
  box-sizing: border-box;
}

.formBox {
  width: 100%;
  padding: 80px 40px;
  box-sizing: border-box;
  height: 400px;
  background: #fff;
}

.formBox p {
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #f0911c;
}

.formBox input {
  width: 100%;
  margin-bottom: 20px;
}

.formBox input[type="email"],
.formBox input[type="password"] {
  border: none;
  border-bottom: 2px solid #f0911c;
  outline: none;
  height: 30px;
}

.formBox input[type="email"]:focus,
.formBox input[type="password"]:focus {
  border-bottom: 2px solid #f0911c;
}

.formBox input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  color: #fff;
  font-weight: bold;
  background: #04192a;
  border-radius: 20px 20px 20px 20px;
  background-size: 10px;
  cursor: pointer;
}

.formBox input[type="submit"]:hover {
  transform: scale(1, 1.1);
}

.formBox a {
  color: #04192a;
  font-size: 12px;
  font-weight: bold;
}

.emptyFields {
  font-size: 30px;
  color: red;
  text-align: center;
}
